@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Noto+Serif+Khojki:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #51F398;
}
h1{
    display: flex;
    text-align: center;
    top: 120px;   
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
    border-radius: 15px;  
}

.cont{
    display: flex;
    width: 100%;
    margin-top: 50px;
    border: none;
    justify-content: center;
    align-items: center;
}

label{
    letter-spacing: 3px;
}

#qrcode{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* information form */
#form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid rgb(51, 51, 51);
    font-size: 20px;
    font-weight: bolder;
}

 h1::selection , label::selection{
    background: #51f398;

}


.area{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(114, 114, 114);

}

/* button to generate QRcode */
.submit{
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 5px;
    letter-spacing: 3px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(214, 214, 214);
    border: 2px solid  #51F398;
    text-decoration: none;
    transition: 0.7s;
    cursor: pointer;
}
.submit:hover{
    background: #51F398;
    color: #000;
    box-shadow: 0 0 4px #51F398, 0 0 5px #51F398, 0 0 6px #51F398;
}

@media (max-width: 800px){
    .container{
        width: auto;
        display: flex;
        height: auto;
        
    }
    h1{
        font-size: 20px;
        padding: 16px;
    }
    #form{
        width: 100%;
        flex-wrap: wrap;
        border: none;
        
    }
    
    label{
       font-size: 15px; 
    }
        
    .cont{
        border:none;
        flex-direction: column;
    }
    
    
}

